/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
   font-family: Arial, sans-serif;
}

#backgroundRojo {
    display: flex;
    background-color: #ff0000;
    padding: 15px 25px;
    align-items: center;
    justify-content: space-between;
}

#topHero {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#logoPokemon img {
    width: 400px; /* Ajustar el tamaño del logo Pokémon */
    height: auto;
}

#iconoPikachu img {
    width: 170px; /* Ajustar el tamaño del icono Pikachu */
    height: auto;
    right: 950px;
    top: 10px;
    position: absolute;
}

#textoTopHero h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

  
  header {
    width: 100%;
    height: 150px;
    background-color: #fede00;
    position: relative;
    z-index: 1;
}

header nav ul {
    display: flex;
    justify-content: center;
}

.item-nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    background-color: #fede00;
    border-right: solid 3px #b3a125;
}

#contacto {
    border-right: none;
}

li a {
    color: rgb(54, 53, 53);
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
}

.li-img {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 65px;
}

#img-home {
    content: url(/public/imagenes/pokemon/home-img.png);
    width: 70px;
    height: 75px;
}

#img-jugar {
    content: url(/public/imagenes/pokemon/jugar-img.png);
    width: 70px;
    height: 75px;
    margin-bottom: 10px; /* Añade un margen inferior de 10px */
}

#img-amigos {
    content: url(/public/imagenes/pokemon/entrenador-pokemon.png);
    width: 70px;
    height: 70px;
    margin-bottom: 10px; /* Añade un margen inferior de 10px */
}

#img-gimnasios {
    content: url(/public/imagenes/pokemon/amigos-img.png);
    width: 70px;
    height: 75px;
    margin-bottom: 30px; /* Añade un margen inferior de 10px */
}

#img-contacto {
    content: url(/public/imagenes/pokemon/gym-img.png);
    width: 70px;
    height: 75px;
    margin-bottom: 10px; /* Añade un margen inferior de 10px */
}
/*Fin estilos header*/

/* Estilos lista amigos*/
.form-container {
    background-color: white;
    padding: 100px 0; /* Ajusta el espaciado interior del contenedor */
    text-align: center; /* Centra el contenido del formulario */
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;

}

h1 {
    text-align: center;
    color: #3B4CCA;
    font-size: 30px; /* Aumenta el tamaño del título */
    font-weight: bold;
    margin-bottom: 20px; /* Añade espacio inferior */
}

#friend-list {
    margin-bottom: 20px;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-details {
    display: flex;
    align-items: center;
    flex: 1;
}


.add-friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-friend input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    ;
}

.add-friend button {
    background-color: #3B4CCA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-friend button + button {
    margin-left: 10px; /* Añade espacio entre los botones */
}

.save-button{
    background-color: #3B4CCA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; /* Añade espacio superior */
}
/*Fin seccion Amigos*/


/*Inicio estilos footer*/
footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    background-color: #b3a125;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}

/*Estilos Pokemon Company*/
footer #nombre-cliente {
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
}

/*Estilos Tech Trekkers*/
footer #trekkers {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

#trekkers h2 {
    font-family: "Poppins", sans-serif;
    color: white;
} 

#trekkers #logo-trekkers {
    content: url(/public/imagenes/pokemon/logo_tech_trekkers.png);
    width: 100px;
    height: 100px;
    margin-left: 70px;
}

/*Estilos Redes sociales*/
#youtube {
    content: url(/public/imagenes/socialMedia/youtube_logo.png);
    width: 55px;
    height: 45px;
}

#facebook {
    content: url(/public/imagenes/socialMedia/facebook_logo.png);
    width: 50px;
    height: 50px;
}

#linkedin {
    content: url(/public/imagenes/socialMedia/linkedin_logo.png);
    width: 50px;
    height: 50px;
}

#instagram {
    content: url(/public/imagenes/socialMedia/instagram_logo.png);
    width: 50px;
    height: 50px;
}

#redes-sociales {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 13px;
}

.red-social {
    align-items: baseline;
    margin: 0 40px;
}
/*Fin estilos footer*/
